.alert-danger {
  background-color: #f8d7da70;
  border-color: #f5c6cb;
  color: #721c24;
}

.alert-success {
  background-color: #96d59a70;
  border-color: #96d59a;
  color: #386641;
}

.alert-warning {
  background-color: #fff3cd85;
  border-color: #ffeeba;
  color: #856404;
}

.bg-primary {
  background-color: #386641 !important;
}

.bg-primary-subtle {
  background-color: #96d59a !important;
}

.btn-outline-primary {
  border-color: #386641;
  color: #386641;
}

.btn-outline-primary:hover,
.btn-outline-primary:focus {
  border-color: #386641;
  background-color: #386641;
}

.btn-outline-primary:active {
  border-color: #305737 !important;
  background-color: #305737 !important;
}

.form-control:focus {
  border-color: #96d59a;
  box-shadow: 0 0 0 0.2rem #96d59a70;
  outline: none;
}

.link-primary {
  color: #386641 !important;
  text-decoration: none !important;
}

.link-primary:hover {
  color: #386641 !important;
  text-decoration: underline !important;
}

.link-primary:focus,
.link-primary:active {
  color: #305737 !important;
}

.text-primary {
  color: #386641 !important;
}
