body {
  background-image: url("../images/pattern_bg.png");
  background-repeat: repeat;
  background-size: 400px 400px;
}

.bg-yellow {
  background-color: #d2b02e;
}

.bg-red {
  background-color: #c41508;
}

.categoryChart {
  max-height: 400px;
}

.clickable {
  cursor: pointer;
  transition: filter 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.clickable:hover {
  filter: brightness(0.95);
  box-shadow: 0 0 0 0.2rem rgba(0, 0, 0, 0.1);
}

.montserrat-regular {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.montserrat-semibold {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.montserrat-extrabold {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
}

.text-red {
  color: #c41508;
}

.text-tertiary {
  color: #00000030;
}
