{% extends 'layout.html' %} {% block title %} Log In {% endblock %} {% block content %}

<main class="flex-grow-1 d-flex flex-column">
  <div class="container pb-3 pb-lg-auto">
    <h1 class="montserrat-extrabold text-primary my-5">Dashboard</h1>
    <div class="row mb-4">
      <div class="col-lg-4 col-12 mb-3 mb-lg-0">
        <div class="bg-light shadow rounded-4 h-100 p-4">
          <div class="row">
            <div class="col">
              <span class="montserrat-regular text-secondary"> Current balance </span>
              <h3 class="montserrat-semibold mt-2">$ 500.00</h3>
            </div>
            <div class="col d-flex align-items-center justify-content-end px-4">
              <div class="bg-yellow rounded-circle p-3">
                <img src="../static/images/wallet_icon.png" width="30" alt="Wallet icon" />
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-12 mb-3 mb-lg-0">
        <div class="bg-light shadow rounded-4 h-100 p-4 clickable" onclick="window.location.href='/incomes'">
          <div class="row">
            <div class="col">
              <span class="montserrat-regular text-secondary"> Incomes <i class="bi bi-caret-right-fill text-tertiary"></i> </span>
              <h3 class="montserrat-semibold mt-2">$ 125.00</h3>
            </div>
            <div class="col d-flex align-items-center justify-content-end px-4">
              <div class="bg-primary rounded-circle p-3">
                <img src="../static/images/income_arrow_icon.png" width="30" alt="Income arrow icon" />
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-12 mb-3 mb-lg-0">
        <div class="bg-light shadow rounded-4 h-100 p-4 clickable" onclick="window.location.href='/expenses'">
          <div class="row">
            <div class="col">
              <span class="montserrat-regular text-secondary"> Expenses <i class="bi bi-caret-right-fill text-tertiary"></i> </span>
              <h3 class="montserrat-semibold mt-2">$ 75.50</h3>
            </div>
            <div class="col d-flex align-items-center justify-content-end px-4">
              <div class="bg-red rounded-circle p-3">
                <img src="../static/images/expenses_arrow_icon.png" width="30" alt="Expenses arrow icon" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <form action="add-transaction" method="post" class="bg-light shadow rounded-4 py-4 px-4">
      <div class="d-flex flex-column flex-lg-row justify-content-between align-items-center px-auto px-lg-4">
        <div class="d-flex flex-column mb-3 mb-lg-auto">
          <label for="categorySelect" class="form-label text-secondary">Category</label>
          <select class="form-select" id="categorySelect" name="categorySelect">
            <option selected disabled>Select an option</option>
            <option value="bills and servicessing">Bills and Services</option>
            <option value="education">Education</option>
            <option value="entertainment">Entertainment</option>
            <option value="food">Food</option>
            <option value="housing">Housing</option>
            <option value="salary">Salary</option>
            <option value="shopping">Shopping</option>
            <option value="savings and investments">Savings and Investments</option>
            <option value="transportation">Transportation</option>
            <option value="travel">Travel</option>
            <option value="health">Health</option>
            <option value="donations">Donations</option>
            <option value="miscellaneous">Miscellaneous</option>
          </select>
        </div>
        <div class="d-flex flex-column mb-3 mb-lg-auto">
          <label for="titleInput" class="form-label text-secondary">Title</label>
          <input type="text" class="form-control" id="titleInput" name="titleInput" />
        </div>
        <div class="d-flex flex-column mb-3 mb-lg-auto">
          <label for="amountInput" class="form-label text-secondary">Amount</label>
          <input type="text" class="form-control" id="amountInput" name="amountInput" min="0" placeholder="$0.00" />
        </div>
        <div class="d-flex flex-column mb-5 mb-lg-auto">
          <label for="dateInput" class="form-label text-secondary">Date</label>
          <input type="date" class="form-control" id="dateInput" name="dateInput" />
        </div>
        <div class="d-flex flex-row flex-lg-column mb-5 mb-lg-0">
          <div class="form-check me-5 me-lg-auto">
            <input required class="form-check-input" type="radio" name="transactionTypeRadio" id="income" value="income" />
            <label class="form-check-label" for="income"> Income <i class="bi bi-plus align-middle text-primary"></i> </label>
          </div>
          <div class="form-check">
            <input required class="form-check-input" type="radio" name="transactionTypeRadio" id="expense" value="expense" />
            <label class="form-check-label" for="expense"> Expense <i class="bi bi-dash align-middle text-red"></i> </label>
          </div>
        </div>
        <div class="d-flex flex-column">
          <button type="submit" class="btn btn-outline-primary px-5 py-3 rounded-5">Add</button>
        </div>
      </div>
    </form>
  </div>
</main>

<script>
  const amountInput = document.getElementById("amountInput");

  amountInput.addEventListener("input", (e) => {
    let value = e.target.value;
    value = value.replace(/[^0-9]/g, "");
    if (value !== "") {
      value = (parseInt(value) / 100).toFixed(2);
      e.target.value = `$${value.replace(/\B(?=(\d{3})+(?!\d))/g, ",")}`;
    } else {
      e.target.value = "";
    }
  });

  amountInput.addEventListener("blur", (e) => {
    if (e.target.value === "$0.00") {
      e.target.value = "";
    }
  });
</script>

{% endblock %}
