{% extends 'layout.html' %} {% block title %} Income {% endblock %} {% block content %}

<main class="flex-grow-1 d-flex flex-column">
  <div class="container pb-4 pb-lg-auto">
    <h1 class="montserrat-extrabold text-primary my-5">Income</h1>
    <div class="row mb-4">
      <div class="col-lg-4 col-12 mb-3 mb-lg-0">
        <div class="bg-light shadow rounded-4 h-100 p-4">
          <div class="row">
            <div class="col">
              <span class="montserrat-regular text-secondary"> Total Income </span>
              <h3 class="montserrat-semibold mt-2">${{ total_income | money }}</h3>
            </div>
            <div class="col d-flex align-items-center justify-content-end px-4">
              <div class="bg-primary rounded-circle p-3">
                <img src="../static/images/income_arrow_icon.png" width="30" alt="Income arrow icon" />
              </div>
            </div>
          </div>
          {% if income_list %} {% for item in amount_per_month %}
          <div class="row border-top my-4 mx-auto"></div>
          <div class="row">
            <div class="col">
              <span class="montserrat-regular text-secondary"> {{ item["month"] }} </span>
              <h3 class="montserrat-semibold mt-2">${{ item["amount"] | money }}</h3>
            </div>
          </div>
          {% endfor %} {% endif %}
        </div>
      </div>
      {% if income_list %}
      <div class="col-lg-8 col-12 mb-3 mb-lg-0">
        <div class="d-flex align-items-center justify-content-center bg-light shadow rounded-4 h-100 p-4">
          <canvas id="categoryChart" class="categoryChart"></canvas>
        </div>
      </div>
      {% endif %}
    </div>
    {% if income_list %}
    <div class="table-responsive bg-light shadow rounded-4 py-4 px-auto px-sm-4 px-lg-5">
      <table class="table table-hover table-light px-auto px-lg-4">
        <thead class="montserrat-semibold">
          <tr>
            <th scope="col" class="d-none d-sm-table-cell">Category</th>
            <th scope="col">Title</th>
            <th scope="col">Amount</th>
            <th scope="col">Date</th>
            <th scope="col">Type</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody class="montserrat-regular">
          {% for income in income_list %}

          <tr>
            <td class="d-none d-sm-table-cell align-middle">{{ income["category"] }}</td>
            <td class="align-middle">{{ income["title"] }}</td>
            <td class="align-middle">${{ income["amount"] | money }}</td>
            <td class="align-middle">{{ income["created_at"].strftime('%Y/%m/%d') }}</td>
            <td class="text-success align-middle">{{ income["type"] | capitalize }}</td>
            <td class="align-middle">
              <form action="/delete-transaction" method="POST" class="delete-form m-0">
                <input type="hidden" name="transaction_id" value="{{ income['id'] }}" />
                <input type="hidden" name="called_in" value="/income" />
                <button type="button" class="btn btn-sm btn-outline-danger delete-button">
                  <i class="bi bi-trash3"></i>
                </button>
              </form>
            </td>
          </tr>

          {% endfor %}
        </tbody>
      </table>
    </div>
    {% endif %}
  </div>
</main>

<script>
  // confirmation box when delete a income
  document.querySelectorAll(".delete-button").forEach((button) => {
    button.addEventListener("click", function () {
      const form = this.closest(".delete-form");
      if (confirm("Are you sure you want to delete this income?")) {
        form.submit();
      }
    });
  });
</script>

<script>
  // create and config the chart
  const ctx = document.getElementById("categoryChart");

  const categories = {{ categories | tojson }};
  const amounts = {{ amount_per_category | tojson }}

  const chartConfig = {
    type: "doughnut",
    data: {
      labels: categories,
      datasets: [
        {
          label: "Amount",
          data: amounts,
          borderWidth: 5,
          backgroundColor: ["#96d59a", "#7fba84", "#73ac79", "#6da574", "#679e6e", "#659b6c", "#629769", "#5c9063", "#508258"]
        },
      ],
    },
    options: {
      responsive: true,
      plugins: {
        legend: {
          position: "right",
        },
      },
    },
  };

  const chart = new Chart(ctx, chartConfig);

  function updateLegendPosition() {
    const isSmallScreen = window.matchMedia("(max-width: 991px)").matches;
    chart.options.plugins.legend.position = isSmallScreen ? "top" : "right";
    chart.update();
  }

  window.addEventListener("resize", updateLegendPosition);

  updateLegendPosition();
</script>

{% endblock %}
