{% extends "layout.html" %} {% block title %} Options {% endblock %} {% block content %}

<main class="flex-grow-1 d-flex flex-column justify-content-center align-items-center">
  <div class="m-auto">
    <div class="alert alert-light d-flex align-items-center justify-content-center mb-5 fs-5 shadow rounded-4" role="alert">
      <i class="bi bi-person-fill me-2"></i>
      <div class="montserrat-regular">Logged in as <strong class="text-primary">{{ username }}</strong>.</div>
    </div>
    <form action="/options" method="post">
      <div class="d-flex flex-column">
        <button class="btn btn-outline-primary montserrat-regular px-5 py-3 rounded-5 mb-3 shadow-sm" name="action" value="change-password" type="submit">Change password</button>
        <button class="btn btn-outline-red montserrat-regular px-5 py-3 rounded-5 shadow-sm" name="action" value="delete-account" type="submit">Delete account</button>
      </div>
    </form>
  </div>
</main>

{% endblock %}
